<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{student.nav.studyplans}"></h2>


        <div th:if="${not #lists.isEmpty(studyPlans)}">

            <ul class="collection">
                <li class="collection-item" th:each="studyPlan : ${studyPlans}">
                    <div>
                        <div class="title">
                            <a class="teal-text" href="#" data-th-href="@{/student/all-studyplans/(id=${studyPlan.id})}" th:text="${studyPlan.name}"></a>
                            <span th:if="${studyPlan.enabled}" class="secondary-content"><i class="material-icons tooltipped" th:attr="data-tooltip=#{student.studyplan.enabled}">lock_open</i></span>
                            <span th:if="${not studyPlan.enabled}" class="secondary-content"><i class="material-icons tooltipped" th:attr="data-tooltip=#{student.studyplan.disabled}">lock_outline</i></span>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(studyPlans)}">
            <p th:text="#{student.studyplan.notfound}"></p>
        </div>
    </div>

</main>

</body>
</html>