<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<body>
<main layout:fragment="main">

    <div class="container">

        <h1 th:text="#{student.courses.label}">Courses</h1>

        <nav>
            <div class="nav-wrapper white black-text">
                <form>
                    <div class="input-field">
                        <input id="search" name="search" th:placeholder="#{student.courses.search}" th:value="${searchString}"
                               type="text"/>
                        <label for="search"><i class="material-icons black-text">search</i></label>
                    </div>
                </form>
            </div>
        </nav>

        <ul class="collection z-depth-1">

            <li class="collection-item" th:if="${#lists.isEmpty(allCourses)}" th:text="#{student.courses.notfound}"></li>

            <li class="collection-item" th:each="course : ${allCourses}">
                <a th:href="'#modal'+__${course.id}__" class="secondary-content modal-trigger"><i class="material-icons tooltipped" th:attr="data-tooltip=#{student.courses.register}">add</i></a>
                <a th:href="@{/student/courses/__${course.id}__}"
                   class="title teal-text"
                   th:text="${course.subject.name}"></a>
                <div th:text="'123.456 VO ' + ${course.semester.label} + ', ' + ${course.subject.ects} + ' ECTS'"></div>

                <div th:id="'modal'+__${course.id}__" class="modal small">
                    <div class="modal-content">
                        <h5 class="center-align" th:text="${course.subject.name}"></h5>
                        <h6 class="center-align" th:text="#{student.courses.enroll}"></h6>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close btn"
                           th:href="@{/student/register(courseId=__${course.id}__)}"
                           th:text="#{enroll}">Apply</a>
                        <a href="#" class="modal-action modal-close waves-effect btn-flat"
                           th:text="#{cancel}">Cancel</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="flashAttributesRegistered" th:if="${registeredForCourse != null}"
         th:text="#{student.registered}">
    </div>
    <div id="flashAttributesNotRegistered" th:if="${notRegisteredForCourse != null}"
         th:text="#{student.notRegistered}">
    </div>

</main>

</body>
</html>