<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<body>

<main layout:fragment="main" class="container">


    <h2 th:text="#{student.courses.label}">Courses</h2>

    <ul class="collection">
        <li class="collection-item" th:each="course : ${allCourses}">
            <div class="title" th:text="${course.subject.name}"></div>
            <div th:text="'123.456 VO ' + ${course.semester.label} + ', ' + ${course.subject.ects} + ' ECTS'"></div>
        </li>
    </ul>

</main>

</body>
</html>