<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<body>
<main layout:fragment="main">

    <div class="container">

        <div class="card-title">
            <a href="#register-to-course-modal"
               class="teal-text right modal-trigger" th:if="${course.canEnroll}">
                <i class="material-icons large tooltipped"
                   data-position="bottom" data-delay="50" th:attr="data-tooltip=#{enroll}">
                    add
                </i>
            </a>
            <h1 th:text="${course.name}"></h1>
        </div>

        <h4 th:text="${course.semester} + ', ' + ${course.ects + ' ECTS'}"></h4>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">

                        <div class="vspace">
                            <span th:each="tag : ${course.tags}" class="chip" th:text="${tag}"></span>
                        </div>

                        <div th:if="${!course.description.isEmpty()}">
                            <div class="section-separator" th:text="#{student.course.details.description}"></div>

                            <p class="text-content" th:text="${course.description}"></p>
                        </div>

                        <div>
                            <div class="section-separator" th:text="#{student.course.details.lecturers}"></div>

                            <ul class="collection borderless">
                                <li class="collection-item"
                                    th:each="lecturer : ${course.lecturers}">
                                    <span class="title" th:text="${lecturer.name}"></span>
                                    <p>
                                        <a th:href="'mailto:' + ${lecturer.email}"
                                           class="teal-text"
                                           th:text="${lecturer.email}"></a>
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <div class="section-separator" th:text="#{student.course.details.studyplans}"></div>

                            <ul class="collection borderless">
                                <li class="collection-item"
                                    th:each="studyplan : ${course.studyplans}">
                                    <div class="title">
                                        <a th:href="@{/student/all-studyplans(id=__${studyplan.studyPlan.id}__)}"
                                           class="teal-text"
                                           th:text="${studyplan.studyPlan.name}"></a>
                                    </div>
                                    <p class="grey-text">
                                        <span th:if="${studyplan.semesterRecommendation} == null"
                                              th:text="#{student.course.details.no_semester}">
                                        </span>
                                        <span th:if="${studyplan.semesterRecommendation} != null"
                                              th:text="'Semester ' + ${studyplan.semesterRecommendation}"></span>
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="register-to-course-modal" class="modal small">
        <div class="modal-content">
            <h5 class="center-align" th:text="${course.name}"></h5>
            <h6 class="center-align" th:text="#{student.courses.enroll}"></h6>
        </div>
        <div class="modal-footer">
            <form th:action="@{/student/register/__${course.id}__}" method="POST">

                <button
                    type="submit"
                    class="modal-action modal-close waves-effect btn"
                    th:text="#{enroll}"
                ></button>
            </form>

            <a
                href="#"
                class="modal-action modal-close waves-effect btn-flat"
                th:text="#{cancel}"
            ></a>
        </div>
    </div>

</main>

</body>
</html>