<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<body>
<main layout:fragment="main">

    <div class="container">

        <h1 th:text="#{student.nav.my.grades}">Grades</h1>


        <ul class="collection z-depth-1">

            <li class="collection-item" th:if="${grades.isEmpty()}" th:text="#{student.grades.none}"></li>

            <li class="collection-item" th:each="grade : ${grades}">
                <a class="secondary-content" target="_blank"
                   th:href="@{/public/grade(identifier=__${grade.id}__)}"><i class="material-icons tooltipped" th:attr="data-tooltip=#{student.grades.certificate}">description</i></a>
                <div class="title teal-text" th:text="${grade.course.subject.name}"></div>
                <div th:text="${grade.course.semester.label}"></div>
            </li>
        </ul>
    </div>


</main>

</body>
</html>