<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<head>
    <title>UIS My Courses</title>
</head>
<body>
<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{student.my.courses.label}"></h2>

        <div th:each="semesterProgress : ${studyProgress.semestersProgress}">
            <h6 class="section-separator" th:text="${semesterProgress.semester.label}"></h6>

            <div th:if="${#lists.isEmpty(semesterProgress.courseRegistrations)}"
                 th:text="#{student.my.courses.no.semester.registrations}">
            </div>

            <ul class="collection z-depth-1" th:if="${not #lists.isEmpty(semesterProgress.courseRegistrations)}">
                <li class="collection-item" th:each="courseRegistration : ${semesterProgress.courseRegistrations}">

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).in_progress}"
                       data-position="bottom" data-delay="50" data-tooltip="Unregister"
                       th:href="'#unregister-confirm-' + ${courseRegistration.course.id}"
                       class="secondary-content tooltipped modal-trigger">
                        <i class="material-icons">remove_circle</i>
                    </a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).needs_feedback}"
                       data-position="bottom" data-delay="50" data-tooltip="Give feedback"
                       th:href="'#give-feedback-' + ${courseRegistration.course.id}"
                       class="secondary-content tooltipped modal-trigger">
                        <i class="material-icons">thumbs_up_down</i>
                    </a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).complete_ok}"
                       data-position="bottom" data-delay="50" data-tooltip="Course successfully completed"
                       class="secondary-content tooltipped"><i class="material-icons">done</i></a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).complete_not_ok}"
                       data-position="bottom" data-delay="50" data-tooltip="Course unsatisfactory completed"
                       class="secondary-content tooltipped"><i class="material-icons grey-text">warning</i></a>

                    <a th:href="@{/student/courses/__${courseRegistration.course.id}__}"
                       class="title teal-text"
                       th:text="${courseRegistration.course.subject.name}"></a>
                    <div>
                        <span th:text="${courseRegistration.course.subject.ects}"></span>
                        <span> ECTS</span>
                    </div>

                    <!-- Unregister confirmation modal -->
                    <div th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).in_progress}"
                         th:id="'unregister-confirm-' + ${courseRegistration.course.id}"
                         class="modal small">
                        <div class="modal-content">
                            <h4 th:text="#{student.my.courses.unregister.modal.header}"></h4>
                            <p th:text="#{student.my.courses.unregister.modal.content(${courseRegistration.course.subject.name})}"></p>
                        </div>
                        <div class="modal-footer">
                            <form method="post"
                                  th:action="@{/student/unregister(course=__${courseRegistration.course.id}__)}">
                                <input type="submit" th:value="#{unregister}"
                                       class="modal-action modal-close btn"/>
                            </form>
                            <a href="#!" class=" modal-action modal-close waves-effect btn-flat"
                               th:text="#{cancel}"></a>
                        </div>
                    </div>

                    <!-- Give feedback modal -->
                    <div th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).needs_feedback}"
                         th:id="'give-feedback-' + ${courseRegistration.course.id}"
                         class="modal small">
                        <div class="modal-content">
                            <h5 th:text="${courseRegistration.course.subject.name}"></h5>
                            <p class="grey-text text-darken-2">
                                <span th:text="${courseRegistration.course.subject.ects}"></span>
                                <span>ECTS,</span>
                                <span th:text="${courseRegistration.course.semester.label}"></span>
                            </p>
                            <form th:action="@{/student/feedback}" method="post"
                                  th:id="'feedback-form-' + ${courseRegistration.course.id}">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="suggestions" name="suggestions"
                                                  class="materialize-textarea" length="1024"></textarea>
                                        <label for="suggestions"
                                               th:text="#{student.my.courses.feedback.suggestions}"></label>
                                    </div>
                                    <div class="col s12">
                                        <input type="checkbox" name="like" id="like"/>
                                        <label for="like" th:text="#{student.my.courses.feedback.like}"></label>
                                    </div>
                                </div>
                                <input type="hidden" name="course" th:value="${courseRegistration.course.id}"/>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="modal-action modal-close btn"
                               th:onclick="'$(\'#feedback-form-' + ${courseRegistration.course.id} + '\').submit()'"
                               th:text="#{student.my.courses.feedback.submit}"></a>
                            <a href="#" class=" modal-action modal-close waves-effect btn-flat"
                               th:text="#{cancel}"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>