<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="student/index">
<head>
    <title>UIS My Courses</title>
</head>
<body>
<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{student.my.courses.label}"></h2>

        <div th:each="semesterProgress : ${studyProgress.semestersProgress}">
            <h6 class="section-separator" th:text="${semesterProgress.semester.label}"></h6>

            <div th:if="${#lists.isEmpty(semesterProgress.courseRegistrations)}"
                 th:text="#{student.my.courses.no.semester.registrations}">
            </div>

            <ul class="collection z-depth-1" th:if="${not #lists.isEmpty(semesterProgress.courseRegistrations)}">
                <li class="collection-item" th:each="courseRegistration : ${semesterProgress.courseRegistrations}">

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).in_progress}"
                       data-position="bottom" data-delay="50" data-tooltip="Unregister"
                       href="#unregister-confirm" class="secondary-content tooltipped modal-trigger"><i
                            class="material-icons">remove_circle</i></a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).needs_feedback}"
                       data-position="bottom" data-delay="50" data-tooltip="Give feedback"
                       href="#" class="secondary-content tooltipped"><i class="material-icons">thumbs_up_down</i></a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).complete_ok}"
                       data-position="bottom" data-delay="50" data-tooltip="Course successfully completed"
                       class="secondary-content tooltipped"><i class="material-icons">done</i></a>

                    <a th:if="${courseRegistration.state} == ${T(at.ac.tuwien.inso.service.study_progress.CourseRegistrationState).complete_not_ok}"
                       data-position="bottom" data-delay="50" data-tooltip="Course unsatisfactory completed"
                       class="secondary-content tooltipped"><i class="material-icons grey-text">warning</i></a>

                    <a class="title teal-text" href="#" th:text="${courseRegistration.course.subject.name}"></a>
                    <div>
                        <span th:text="${courseRegistration.course.subject.ects}"></span>
                        <span> ECTS</span>
                    </div>

                    <!-- Unregister confirmation modal -->
                    <div id="unregister-confirm" class="modal small">
                        <div class="modal-content">
                            <h4>Unregister</h4>
                            <p>Are you sure you want to unregister?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post"
                                  th:action="@{/student/unregister(course=__${courseRegistration.course.id}__)}">
                                <input type="submit" value="Unregister"
                                       class="modal-action modal-close waves-effect btn"/>
                            </form>
                            <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>