<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{admin.users.student.addtostudyplan}"></h2>
		  <div>
            <p th:text="#{admin.users.header} +': '+ ${user.getName()}"></p>
        </div>
		
        <div th:if="${not #lists.isEmpty(studyPlans)}">

            <ul class="collection z-depth-1">
                <li class="collection-item" th:each="studyPlan : ${studyPlans}">
                    <div>
                        <div class="title">
                        	<a class="teal-text" data-th-href="@{/admin/studyplans/(id=${studyPlan.id})}" th:text="${studyPlan.name}"></a>
                            <a th:href="'#register-confirm-' + ${studyPlan.id}" class="secondary-content modal-trigger"><i class="material-icons">add</i></a>
                        </div>
                    </div>

                    <!-- Register to study plan confirmation -->
                    <div th:id="'register-confirm-' + ${studyPlan.id}" class="modal small">
                        <div class="modal-content">
                            <h4 th:text="#{admin.user.registerToStudyPlan.modal.header}"></h4>
                            <p th:text="#{admin.user.registerToStudyPlan.modal.content(${user.getName()}, ${studyPlan.name})}"></p>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close btn" th:text="#{register}" th:href="@{/admin/studyplans/registerStudent/(studentId=${user.id},studyPlanId=${studyPlan.id})}"></a>
                            <a class="modal-action modal-close waves-effect btn-flat" th:text="#{cancel}"></a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(studyPlans)}">
            <p th:text="#{admin.studyplan.notfound}"></p>
        </div>
    </div>

</main>

</body>
</html>