<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">

        <h2>Add Lecturer to Subject</h2>

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <div class="input-field">
                            <form
                                    th:action="@{/admin/subjects/{subjectId}/lecturers(subjectId=${subject.id})}"
                                    th:object="${addLecturersToSubjectForm}"
                                    method="POST"
                            >
                                <input th:field="*{id}" type="text" id="lecturer-id"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

</body>
</html>