<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{admin.users.student.addtostudyplan}"></h2>
		 <p th:text="'Hello, ' + ${user.getName()} + '!'" />
		  <div>
            <p th:inline="text">[[#{admin.users.header}]]: ${user.getName()}</p>
        </div>
		
        <!-- <div th:if="${not #lists.isEmpty(studyPlans)}">

            <ul class="collection">
                <li class="collection-item" th:each="studyPlan : ${studyPlans}">
                    <div>
                        <div class="title">
                            <a href="#" data-th-href="@{/admin/studyplans/(id=${studyPlan.id})}"
                               th:text="${studyPlan.name}"></a>
                            <a href="#!" class="secondary-content"><i class="material-icons">add</i></a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(studyPlans)}">
            <p th:text="#{admin.studyplan.notfound}"></p>
        </div>-->
    </div>

</main>

</body>
</html>