<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">

        <div class="row">
            <div class="col s12 m9 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" th:text="#{admin.users.create.form.header}"></span>

                        <form th:action="@{/admin/users/create}" th:object="${createUserForm}" method="post"
                              id="create-user-form">
                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <input th:field="*{type}" type="radio" class="with-gap" id="student"
                                               value="Student"/>
                                        <label for="student" th:text="#{admin.users.create.form.type.student}"></label>
                                        <input th:field="*{type}" type="radio" class="with-gap" id="lecturer"
                                               value="Lecturer"/>
                                        <label for="lecturer"
                                               th:text="#{admin.users.create.form.type.lecturer}"></label>
                                    </p>
                                </div>

                                <div class="input-field col s12">
                                    <input id="identificationNumber" th:field="*{identificationNumber}" type="text"/>
                                    <label for="identificationNumber"
                                           th:text="#{admin.users.create.form.identificationNumber}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('identificationNumber')}"
                                          th:text="#{admin.users.create.form.identificationNumber.error}"></span>
                                </div>

                                <div class="input-field col s12">
                                    <input id="name" th:field="*{name}" type="text"/>
                                    <label for="name" th:text="#{admin.users.create.form.name}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('name')}"
                                          th:text="#{admin.users.create.form.name.error}"></span>
                                </div>

                                <div class="input-field col s12">
                                    <input id="email" th:field="*{email}" type="email"/>
                                    <label for="email" th:text="#{admin.users.create.form.email}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('email')}"
                                          th:text="#{admin.users.create.form.email.error}"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="right-align card-action">
                        <a href="#" onclick="$('#create-user-form').submit()"
                           th:text="#{admin.users.create.form.create}"></a>
                        <a href="/admin/users" th:text="#{admin.users.create.form.cancel}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

</body>
</html>