<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" th:text="#{admin.studyplans.create.form.header}"></span>

                        <form th:action="@{/admin/studyplans/create}" th:object="${createStudyPlanForm}" method="post"
                              id="create-studyplan-form">
                            <div class="row">

                                <div class="input-field col s12">
                                    <input id="name" th:field="*{name}" type="text"/>
                                    <label for="name" th:text="#{admin.studyplans.create.form.name}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('name')}"
                                          th:text="#{admin.studyplans.create.form.name.error}"></span>
                                </div>
                                <div class="input-field col s12">
                                    <input id="mandatory" th:field="*{mandatory}" type="text"/>
                                    <label for="mandatory" th:text="#{admin.studyplans.create.form.mandatory}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('mandatory')}"
                                          th:text="#{admin.studyplans.create.form.mandatory.error}"></span>
                                </div>
                                <div class="input-field col s12">
                                    <input id="optional" th:field="*{optional}" type="text"/>
                                    <label for="optional" th:text="#{admin.studyplans.create.form.optional}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('optional')}"
                                          th:text="#{admin.studyplans.create.form.optional.error}"></span>
                                </div>
                                <div class="input-field col s12">
                                    <input id="free" th:field="*{freeChoice}" type="text"/>
                                    <label for="free" th:text="#{admin.studyplans.create.form.free}"></label>
                                    <span class="red-text" th:if="${#fields.hasErrors('freeChoice')}"
                                          th:text="#{admin.studyplans.create.form.free.error}"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="right-align card-action">
                        <a href="#" onclick="$('#create-studyplan-form').submit()"
                           th:text="#{admin.studyplans.create.form.create}"></a>
                        <a href="/admin/studyplans" th:text="#{admin.studyplans.create.form.cancel}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>

</body>
</html>