<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{admin.semesters.label}"></h2>

        <a href="/admin/semester/create" th:text="#{admin.semesters.create.header}"></a>

        <ul class="collection">
            <li class="collection-item" th:each="semester : ${allSemesters}">
                <div th:if="${semester} eq ${currentSemester}">
                    <strong th:text="${semester.label} + ' ' + #{admin.semesters.current}"></strong>
                </div>
                <div th:unless="${semester} eq ${currentSemester}">
                    <span th:text="${semester.label}"></span>
                </div>
            </li>
        </ul>
    </div>

</main>

</body>
</html>