<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{admin.semesters.label}"></h2>

        <ul class="collection">
            <li class="collection-item" th:each="semester : ${allSemesters}">
                <span th:text="${semester.label}"></span>
                <span th:if="${semester} eq ${currentSemester}"> (current) </span>
            </li>
        </ul>
    </div>

</main>

</body>
</html>