<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/index">
<body>

<main layout:fragment="main">

    <div class="container">

        <!-- Header with create button -->
        <div class="row">
            <div class="col s12">
                <h1 th:text="#{admin.nav.studyplans}"></h1>
            </div>

            <div class="col s12">
                <a class="right amber btn hide-on-small-only modal-trigger" href="#create-studyplan-modal"
                   th:text="#{admin.studyplans.create.header}"></a>
            </div>
        </div>

        <!-- List of study plans -->
        <div>

            <ul class="collection z-depth-1">

                <li class="collection-item" th:if="${#lists.isEmpty(studyPlans)}" th:text="#{admin.studyplan.notfound}"></li>

                <li class="collection-item" th:each="studyPlan : ${studyPlans}">
                    <div>
                        <div class="title">
                            <a class="teal-text" href="#" data-th-href="@{/admin/studyplans/(id=${studyPlan.id})}"  th:text="${studyPlan.name}"></a>
                            <span th:if="${studyPlan.enabled} == false"  style="margin-left:10px;" class="secondary-content"><i class="material-icons">lock_outline</i></span>
                            <a href="#" th:if="${studyPlan.enabled} == true" th:href="'#disable-confirm-' + ${studyPlan.id}" style="margin-left:10px;" class="secondary-content tooltipped modal-trigger" th:attr="data-tooltip=#{admin.studyplan.disable}"><i class="material-icons">lock_open</i></a>
                            <a href="#" data-th-href="@{/admin/studyplans/(id=${studyPlan.id})}" class="secondary-content tooltipped" th:attr="data-tooltip=#{admin.studyplan.edit}"><i class="material-icons">edit</i></a>
                        </div>
                    </div>

                    <!-- Disable confirmation modal -->
                    <div th:id="'disable-confirm-' + ${studyPlan.id}" class="modal small">
                        <div class="modal-content">
                            <h4 th:text="#{admin.studyplan.disable.modal.header}"></h4>
                            <p th:text="#{admin.studyplan.disable.modal.content(${studyPlan.name})}"></p>
                        </div>
                        <div class="modal-footer">
                            <form th:id="'disableSp-' + ${studyPlan.id}" th:action="@{/admin/studyplans/disable/(id=${studyPlan.id})}" method="post">
                                <a class="modal-action modal-close btn" th:text="#{disable}" th:onclick="'$(\'#disableSp-' + ${studyPlan.id} + '\').submit()'"></a>
                                <a class="modal-action modal-close waves-effect btn-flat" th:text="#{cancel}"></a>
                            </form>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

    </div>

    <!-- Create study plan FAB -->
    <div class="fixed-action-btn hide-on-med-and-up">
        <a class="btn-floating btn-large amber modal-trigger" href="#create-studyplan-modal">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <!-- Create study plan modal -->
    <div id="create-studyplan-modal" class="modal small">
        <div class="modal-content">
            <form th:action="@{/admin/studyplans/create}" method="post"
                  id="create-studyplan-form">
                <div class="row">

                    <div class="col s12">
                        <h5 th:text="#{admin.studyplans.create.form.header}"></h5>
                    </div>

                    <div class="input-field col s12">
                        <input id="name" name="name" type="text" required="required"
                               th:attr="data-msg-required=#{admin.studyplans.create.form.name.error}"/>
                        <label for="name" th:text="#{admin.studyplans.create.form.name}"></label>
                    </div>

                    <div class="input-field col s12">
                        <input id="mandatory" name="mandatory" type="number" required="required" min="1"
                               th:attr="data-msg-required=#{admin.studyplans.create.form.mandatory.error}"/>
                        <label for="mandatory" th:text="#{admin.studyplans.create.form.mandatory}"></label>
                    </div>

                    <div class="input-field col s12">
                        <input id="optional" name="optional" type="number" required="required" min="1"
                               th:attr="data-msg-required=#{admin.studyplans.create.form.optional.error}"/>
                        <label for="mandatory" th:text="#{admin.studyplans.create.form.optional}"></label>
                    </div>

                    <div class="input-field col s12">
                        <input id="freeChoice" name="freeChoice" type="number" required="required" min="1"
                               th:attr="data-msg-required=#{admin.studyplans.create.form.free.error}"/>
                        <label for="freeCHoice" th:text="#{admin.studyplans.create.form.free}"></label>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action waves-effect btn teal"
               onclick="$('#create-studyplan-form').submit()"
               th:text="#{create}"></a>
            <a href="#" class="modal-action modal-close waves-effect btn-flat"
               th:text="#{cancel}"></a>
        </div>
    </div>

</main>

<div layout:fragment="scripts">
    <script type="application/javascript">
        $("#create-studyplan-form").validate({
            errorElement: 'span',
            validClass: '',
            errorClass: 'red-text',
        });
    </script>
</div>

</body>
</html>