<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="admin/index">

<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:if="${studyPlan.enabled}" th:text="${studyPlan.getName()}"></h2>
        <h2 th:if="${!studyPlan.enabled}" th:inline="text">[[${studyPlan.getName()}]] <i class="material-icons">lock_outline</i></h2>
        <p th:if="${error}" class="red-text col s12" th:text="${error}"/>

        <div class="row">
            <div class="col s12 m7">
                <div class="card-content">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4 th:text="#{admin.studyplandetails.mandatory}"></h4>
                            <h6 th:text="${studyPlan.getEctsDistribution().getMandatory() + ' ECTS'}"></h6>
                        </li>
                        <li class="collection-item" th:each="subjectForStudyPlan : ${mandatory}">
                            <div class="title">
                                <a class="teal-text" href="#" data-th-href="@{/admin/subjects/{id}(id=${subjectForStudyPlan.getSubject().getId()})}"
                                   th:text="${subjectForStudyPlan.getSubject().getName()}"></a>
                                <a href="#"  data-th-href="@{/admin/studyplans/remove/(subjectId=${subjectForStudyPlan.getSubject().getId()},studyPlanId=${studyPlan.id})}" 
                                   class="secondary-content"><i class="material-icons">delete</i></a>
                            </div>
                            <div th:if="${subjectForStudyPlan.getSemesterRecommendation() != null}">
                                <div th:text="${subjectForStudyPlan.getSemesterRecommendation()} + '. Semester'"></div>
                            </div>
                            <div th:text="${subjectForStudyPlan.getSubject().getEcts()} + ' ECTS'"></div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#" th:action="@{/admin/studyplans/addSubject}" method="post" id="form1">
                                        <input id="mandatorySubjectId" name="subjectId" type="hidden"/>
                                        <input id="studyPlanId" name="studyPlanId" th:value="${studyPlan.getId()}" type="hidden"/>
                                        <input name="mandatory" value="true" type="hidden"/>
                                        <div class="input-field col s6">
                                            <input id="mandatory-autocomplete-input" type="text" class="autocomplete" data-activates="singleDropdownMandatory" data-beloworigin="true" autocomplete="off">
                                                <label for="mandatory-autocomplete-input" th:text="#{admin.studyplans.addsubject}"></label>
                                                <ul id="singleDropdownMandatory" class="dropdown-content"></ul>
                                            </input>
                                        </div>
                                        <div class="input-field col s3">
                                            <select name="semester" form="form1">
                                                <option value="1" selected="">1. Semester</option>
                                                <option value="2">2. Semester</option>
                                                <option value="3">3. Semester</option>
                                                <option value="4">4. Semester</option>
                                                <option value="5">5. Semester</option>
                                                <option value="6">6. Semester</option>
                                                <option value="7">7. Semester</option>
                                                <option value="8">8. Semester</option>
                                            </select>
                                            <label>Semester</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <button class="btn waves-effect waves-light" type="submit" name="action" th:text="#{admin.studyplans.addsubject}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col s12 m7">
                <div class="card-content">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4 th:text="#{admin.studyplandetails.optional}"></h4>
                            <h6 th:text="${studyPlan.getEctsDistribution().getOptional() + ' ECTS'}"></h6>
                        </li>
                        <li class="collection-item" th:each="subjectForStudyPlan : ${optional}">
                            <div class="title">
                                <a class="teal-text" href="#" data-th-href="@{/admin/subjects/(id=${subjectForStudyPlan.getSubject().getId()})}"
                                   th:text="${subjectForStudyPlan.getSubject().getName()}"></a>
                                <a href="#"  data-th-href="@{/admin/studyplans/remove/(subjectId=${subjectForStudyPlan.getSubject().getId()},studyPlanId=${studyPlan.id})}"
                                   class="secondary-content"><i class="material-icons">delete</i></a>
                            </div>
                            <div th:if="${subjectForStudyPlan.getSemesterRecommendation() != null}">
                                <div th:text="${subjectForStudyPlan.getSemesterRecommendation()} + '. Semester'"></div>
                            </div>
                            <div th:text="${subjectForStudyPlan.getSubject().getEcts()} + ' ECTS'"></div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col s12">
                                    <form action="#" th:action="@{/admin/studyplans/addSubject}" method="post" id="form2">
                                        <input id="optionalSubjectId" name="subjectId" type="hidden"/>
                                        <input name="studyPlanId" th:value="${studyPlan.getId()}" type="hidden"/>
                                        <input name="mandatory" value="false" type="hidden"/>
                                        <div class="input-field col s6">
                                            <input id="optional-autocomplete-input" type="text" class="autocomplete" data-activates="singleDropdownOptional" data-beloworigin="true" autocomplete="off">
                                                <label for="optional-autocomplete-input" th:text="#{admin.studyplans.addsubject}"></label>
                                                <ul id="singleDropdownOptional" class="dropdown-content"></ul>
                                            </input>
                                        </div>
                                        <div class="input-field col s3">
                                            <select name="semester" form="form2">
                                                <option value="1" selected="">1. Semester</option>
                                                <option value="2">2. Semester</option>
                                                <option value="3">3. Semester</option>
                                                <option value="4">4. Semester</option>
                                                <option value="5">5. Semester</option>
                                                <option value="6">6. Semester</option>
                                                <option value="7">7. Semester</option>
                                                <option value="8">8. Semester</option>
                                            </select>
                                            <label>Semester</label>
                                        </div>
                                        <div class="input-field col s3">
                                            <button class="btn waves-effect waves-light" type="submit" name="action" th:text="#{admin.studyplans.addsubject}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card-content">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4 th:text="#{admin.studyplandetails.free}"></h4>
                            <h6 th:text="${studyPlan.getEctsDistribution().getFreeChoice() + ' ECTS'}"></h6>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

    </div>


</main>

</body>

</html>