<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/user-details">
<body>

<div layout:fragment="specific-details">
    <div th:if="${not #lists.isEmpty(studyplans)}">
        <h2 class="col s12 m3 l1" th:text="#{admin.user.studyplans}"></h2>
        <ul class="collection z-depth-2">
            <li class="collection-item" th:each="studyplan : ${studyplans}">
                <div class="row">
                    <a class="col s12 m9 l11 teal-text" data-th-href="@{/admin/studyplans/(id=${studyplan.studyplan.id})}" th:text="${studyplan.studyplan.name}"></a>
                </div>
            </li>
        </ul>
        <a href="#" data-th-href="@{/admin/studyplans/registerStudent/(studentToAddId=${user.id})}"
           class="waves-effect waves-light btn" th:inline="text">[[#{admin.users.student.addtostudyplan}]]</a>
    </div>
</div>
</body>
</html>