<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="admin/index">
<body>

<main layout:fragment="main">


    <div class="container">
        <h1 th:text="${subject.getName()}"></h1>
        <h5 th:text="${subject.getEcts()} +' ECTS'"></h5><br/>

        <div class="row">
            <div class="col s12 m7">
                <div class="card-content z-depth-1">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4
                                th:text="#{admin.subjectdetails.lecturers}"></h4></li>
                        <li th:if="${#lists.isEmpty(lecturers)}" class="collection-item" th:text="#{admin.subjectdetails.noLecturers}"></li>
                        <li class="collection-item" th:each="lecturer : ${lecturers}">
                            <a class="teal-text" th:text="${lecturer.getName()}"
                               th:href="@{/admin/users/{lecturerId}(lecturerId=${lecturer.id})}"
                            ></a>

                            <a class="secondary-content modal-trigger"
                               th:href="'#delete-confirm-' + ${lecturer.id}" >
                                <i class="material-icons tooltipped" th:attr="data-tooltip=#{admin.subjects.lecturers.remove}">delete</i>
                            </a>

                            <div th:text="${lecturer.identificationNumber}"></div>

                            <!-- Delete confirmation modal for lecturers -->
                            <div th:id="'delete-confirm-' + ${lecturer.id}" class="modal small">
                                <div class="modal-content">
                                    <h4 th:text="#{admin.subject.details.remove.modal.header}"></h4>
                                    <p th:text="#{admin.subject.details.remove.modal.content(${lecturer.name}, ${subject.name})}"></p>
                                </div>
                                <div class="modal-footer">
                                    <form th:id="'deleteLecturerForm-' + ${lecturer.id}" th:action="@{/admin/subjects/{subjectId}/lecturers/{lecturerId}/delete(subjectId=${subject.id}, lecturerId=${lecturer.id})}" method="post">
                                        <a class="modal-action modal-close btn" th:text="#{remove}" th:onclick="'$(\'#deleteLecturerForm-' + ${lecturer.id} + '\').submit()'"></a>
                                        <a class="modal-action modal-close waves-effect btn-flat" th:text="#{cancel}"></a>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">

                            <form
                                    th:action="@{/admin/subjects/{subjectId}/lecturers(subjectId=${subject.id})}"
                                    th:object="${addLecturersToSubjectForm}"
                                    method="POST"
                                    class="add-lecturer-to-subject-form"
                            >
                                <div
                                        class="input-field autocomplete-wrapper"
                                        th:attr="data-url=@{/admin/subjects/{subjectId}/availableLecturers.json(subjectId=${subject.id})}"
                                >
                                    <input type="hidden" th:field="*{lecturerId}"
                                           class="hidden-input"/>

                                    <input
                                            type="text"
                                            id="add-lecturer-to-subject-input"
                                            class="autocomplete"
                                            data-activates="add-lecturer-to-subject-dropdown"
                                            data-beloworigin="true"
                                            autocomplete="off"
                                    />

                                    <label for="add-lecturer-to-subject-input">Add lecturer</label>

                                    <ul id="add-lecturer-to-subject-dropdown"
                                        class="dropdown-content"></ul>
                                </div>

                                <button type="submit" class="btn waves-effect waves-light">Add
                                </button>
                            </form>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</main>

</body>
</html>