<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorator="admin/index">
<body>

	<main layout:fragment="main">

	<div class="container">
		<h1 th:text="#{admin.subjects.add}"></h1>

		<div class="row">
			<form class="col s12" action="#" th:action="@{/admin/subjects/add}" th:object="${subject}" method="post">
				<div class="input-field col s12">
					<input id="last_name" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/> <label
						for="last_name" th:text="#{admin.subjects.add.title}">to replace with subject 18i title</label>
				</div>
				<div class="input-field col s12">
					<input id="ects" type="number" class="validate" required="" aria-required="true"  th:field="*{ects}" /> <label
						for="ects">ECTS</label>
				</div>

				<button class="btn waves-effect waves-light" type="submit" name="action">
					Submit <i class="material-icons right">send</i>
				</button>
			</form>
		</div>

	</div>

	</main>

</body>
</html>