<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>UIS</title>

    <link rel="stylesheet" type="text/css" href="/webjars/materializecss/0.97.7/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/material-design-icons/3.0.1/material-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/min/css/style.css}"/>
</head>
<body>

<div layout:fragment="content"></div>
<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/materializecss/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/node_modules/materialize-autocomplete/jquery.materialize-autocomplete.min.js"></script>
<script type="text/javascript" src="/min/js/main.js"></script>

<script th:if="${flashMessage}" th:inline="javascript">
    var message = [[#{__${flashMessage}__}]];

    console.log("flashMessage", message);
    showMessage(message);
</script>

</body>
</html>