<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/min/css/style.css}"/>
	<script type="text/javascript" th:src="@{/min/js/prefixfree.min.js}" ></script>
	<script type="text/javascript" th:src="@{/min/js/es6test.js}" ></script>

</head>
<body onload="myFunction()">

<div th:replace="fragments/header:: header"></div>


<h2>This is using the main style</h2>

<div id="description">
	This is using another style, which is imported into the main style.
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! You are editing:</h1>
</div>

<h3 th:text="${course.name}">
</h3>

<div sec:authorize="hasRole('ROLE_USER')">
	Sorry, only admins can edit a course!
	<a th:href="@{/}">Go back</a>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
	<form th:action="@{/editCourse}" method="post" th:object="${course}">
		<input type="hidden" th:field="*{id}"/>
		<input type="text" th:field="*{name}"/>
		<input type="text" th:field="*{ects}"/>
		<button type="submit">Save course</button>
	</form>
</div>



</body>
</html>