<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>UIS Login</title>
</head>
<body class="teal">

<div layout:fragment="content">

    <div class="row">
        <div class="col s12 m8 offset-m2 l4 offset-l4">
            <p class="center white-text"><i class="large material-icons">school</i></p>
            <h1 class="white-text center">UIS <span class="hide-on-small-only">- University Information System</span></h1>

            <form id="login" class="card-panel z-depth-2" th:action="@{/login}" method="post">
                <div class="input-field">
                    <input id="username" name="username" type="text"/>
                    <label for="username" th:text="#{username}"></label>
                </div>

                <div class="input-field">
                    <input id="password" name="password" type="password"/>
                    <label for="password" th:text="#{password}"></label>
                </div>

                <div class="input-field row">
                    <input type="submit" th:value="#{log.in}" class="btn-large col s12"/>
                </div>

                <div th:if="${param.error}" class="red-text center" th:text="#{invalid.credentials}">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>