<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="lecturer/index">
<body>

<main layout:fragment="main">

    <div class="container">

        <h1 th:text="#{lecturer.courses.label}">Courses</h1>

        <ul class="collection z-depth-1">

            <li class="collection-item" th:if="${#lists.isEmpty(allCourses)}" th:text="#{lecturer.courses.none}"></li>

            <li class="collection-item" th:each="course : ${allCourses}">
                <a th:href="@{/lecturer/editCourse(courseId=__${course.id}__)}" class="secondary-content"><i class="material-icons tooltipped" th:attr="data-tooltip=#{lecturer.courses.edit}">edit</i></a>
                <a class="title teal-text" th:text="${course.subject.name}" th:href="@{/lecturer/course-details(courseId=__${course.id}__)}"></a>
                <a th:href="@{/lecturer/editCourse/remove(courseId=__${course.id}__)}" class="secondary-content"><i class="material-icons tooltipped" th:attr="data-tooltip=#{lecturer.course.removeCourse}">delete</i></a>
                <div th:text="${course.semester.label} + ', ' + ${course.subject.ects} + ' ECTS'"></div>

            </li>
        </ul>

    </div>
</main>

</body>
</html>