<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="lecturer/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h2 th:text="#{lecturer.courses.label}">Courses</h2>

        <h4 th:if="${allCourses.isEmpty()}"  th:text="#{lecturer.courses.none}"></h4>

        <ul class="collection" th:unless="${allCourses.isEmpty()}">
            <li class="collection-item" th:each="course : ${allCourses}">
                <a th:href="@{/lecturer/editCourse(courseId=__${course.id}__)}" class="secondary-content"><i class="material-icons">edit</i></a>
                <div class="title" th:text="${course.subject.name}"></div>
                <div th:text="'123.456 VO ' + ${course.semester.label} + ', ' + ${course.subject.ects} + ' ECTS'"></div>

            </li>
        </ul>

        <div th:if="${createdCourse != null}"
             th:text="'Course ' + ${createdCourse.subject.name} + ' ' + ${createdCourse.semester.label} + ' added'">
        </div>
    </div>
</main>

</body>
</html>