<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="lecturer/index">
<body>

<main layout:fragment="main">

    <div class="container">
        <h1 th:text="${course.getSubject().getName()} + ' - ' + #{lecturer.courses.registrations}"></h1>
        <h4 th:text="${course.getSemester().getLabel()} + ', ' + ${course.getSubject().getEcts()} + ' ECTS'"></h4>

        <ul class="collection z-depth-1">
            <li class="collection-item" th:if="${#lists.isEmpty(students)}"
                th:text="#{lecturer.courses.registrations.zero}"></li>

            <li class="collection-item" th:each="student : ${students}">
                <div class="title">
                    <a class="teal-text" th:text="${student.name}"></a>
                </div>
                <div>
                    <a th:href="@{/lecturer/addGrade(courseId=__${course.id}__, studentId=__${student.id}__)}" class="secondary-content"><i class="material-icons">send</i></a>
                    <span th:text="${student.identificationNumber}"></span>
                    <br/>
                    <span th:text="${student.email}"></span>
                </div>
            </li>
        </ul>
    </div>

</main>

</body>
</html>