<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorator="lecturer/index">
<body>

	<main layout:fragment="main" class="container">

	<h2 th:text="#{lecturer.nav.subjects}"></h2>

	<div th:if="${not #lists.isEmpty(ownedSubjects)}">
		<ul class="collection">
			<li class="collection-item" th:each="subject : ${ownedSubjects}">
				<div class="title" th:text="${subject.name}"></div>
				<div
					th:text="${subject.ects} + ' ECTS'"></div>
			</li>
		</ul>
	</div>

	<div th:if="${#lists.isEmpty(ownedSubjects)}">
		<p th:text="#{lecturer.subjects.nofound}"></p>
	</div>

	</main>

</body>
</html>