<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" layout:decorator="lecturer/index">
<body>

<main layout:fragment="main">

	<div class="container">

		<h1 th:text="#{lecturer.nav.subjects}"></h1>

		<div th:if="${not #lists.isEmpty(ownedSubjects)}">
			<ul class="collection z-depth-1">
				<li class="collection-item" th:each="subject : ${ownedSubjects}">
					<a th:href="@{/lecturer/addCourse(subjectId=__${subject.id}__)}" class="secondary-content"><i class="material-icons tooltipped" th:attr="data-tooltip=#{lecturer.subjects.createCourse}">add</i></a>
					<div class="title teal-text" th:text="${subject.name}"></div>
					<div th:text="${subject.ects} + ' ECTS'"></div>
				</li>
			</ul>
		</div>

		<div th:if="${#lists.isEmpty(ownedSubjects)}">
			<p th:text="#{lecturer.subjects.nofound}"></p>
		</div>
	</div>

	</main>

</body>
</html>