body {
  background-color: #fcfcfc;
}

header, main, footer {
  padding-left: 300px;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.collection {
  overflow: visible;
}

.pagination li.active a {
  background: teal;
  color: #fff;
}

.section-separator {
  margin-top: 32px;
  color: #757575;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .container {
    padding: 16px;
    margin: 0;
  }
}

.input-field label {
  left: 0;
}

.add-lecturer-to-subject-form {
  display: flex;
}

.add-lecturer-to-subject-form button[type="submit"] {
  margin-top: 2rem;
}

.add-lecturer-to-subject-form .ac-appender {
  display: none;
}

.add-lecturer-to-subject-form .autocomplete-wrapper {
  margin-right: 1rem;
  flex-grow: 1;
}
